@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

body {
	background-color: #4e31aa;
	height: 100vh;
	width: 100vw;
}

header nav {
	height: 50px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav h1 {
	text-transform: uppercase;
}

main {
	height: 80%;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -45%);
}

main section {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

section label {
	transform: translateY(-30px);
	font-size: 20px;
	cursor: pointer;
	color: #fff;
}

section input[type = text] {
	background-color: #fff;
	transform: translateY(-10px);
	padding: 7px;
	width: 50%;
	outline: none;
}

section input[type = submit] {
	transform: translateY(20px);
	height: 40px;
	width: 150px;
	background-color: #fff;
	border-radius: 20px;
	border: none;
	outline: none;
	color: #000;
	font-weight: bold;
	cursor: pointer;
}

section a {
	transform: translateY(40px);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 150px;
	background-color: #fff;
	border-radius: 20px;
	border: none;
	outline: none;
	color: #000;
	font-weight: bold;
	cursor: pointer;
}

#outPutContainer {
	font-weight: bold;
	font-size: 16px;
	border: 2px solid black;
	background-color: #fff;
	min-height: 10rem;
	width: 80%;
	outline: none;
	padding: 20px;
	transform: translateY(90px);
}
